<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WonConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WonConnect.Properties.Settings>
            <setting name="Accounts" serializeAs="String">
                <value />
            </setting>
            <setting name="Passwords" serializeAs="String">
                <value />
            </setting>
            <setting name="Separator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="Cycle" serializeAs="String">
                <value>720</value>
            </setting>
        </WonConnect.Properties.Settings>
    </userSettings>
</configuration>